{% extends "layout.html" %}

{% block title %}
    Registrar
{% endblock %}

{% block main %}
    <form action="/registrar" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username_registro" placeholder="Usuário" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password_registro" placeholder="Senha" type="password">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirmar senha" type="password">
        </div>

        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}

        <button class="btn btn-primary" type="Enviar">Registrar</button>
    </form>
{% endblock %}
